
body {
    font-family: 'Rubik', sans-serif;
}

header img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.logo-section {
    padding: 25px 0px;
    display: flex;
    justify-content: space-around;
}

header {
    background-color: peachpuff;
}

.biography p {
    font-size: 30px;
    text-align: center;
    margin: 60px 0px;
    padding: 50px 0px;
    border: 1px solid #000;
    border-radius: 22px;
}

.block-group {
    display: flex;
    justify-content: space-around;
    height: 270px;
}

.block-skils {
    margin-top: 25px;
}

.skils {
    display: flex;
    background: #ffffff;
    flex-direction: column;
    width: 400px;
    padding: 5px;
    flex-wrap: wrap;
    height: 202px;
}

a.skils-itm{
    background: #757575;
    color: #eee;
    margin: 5px;
    text-align: center;
    padding: 15px;
    border-radius: 45px;
    text-decoration: none;
}

.information {
    text-align: center;
    font-size: 25px;
}

.block4-paragraf {
    border: 2px solid chartreuse;
    padding-top: 30px;
    text-align: center;
    margin-top: 35px;
    width: 500px;
}
footer{
    padding-bottom: 30px;
}